.wrapper {
  background-color: #f1f3f6;
  padding: 8px;
}

.slideshow {
  position: relative;
  width: 100%;
  height: 180px;        /* CHANGE ONLY THIS */
  overflow: hidden;
}

.slideshow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* buttons */
.slideshow button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(221, 220, 220, 0.5);
  color: white;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 22px;
}

.left { left: 10px; }
.right { right: 10px; }

.box1 {
  display: flex;
}

.box1-main {
  width: 80%;
}

.box1-left {
  width: 40%;
}

.box1-left {
  width: 40%;
  background: #f1f3f6;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1-left img {
  width: 100%;
  height: 100%;
  max-height: 280px;      /* controls banner height */
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
}
